<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api_Contries with node</title>
    <link rel="icon" href="../luna.png">
    <link rel="stylesheet" href="../style.css">

</head>


<body>
    <header class="header">

        <nav class="nav">

        <h4 class="nav__title">Where in the world?</h4>

        <a href="#" class="nav__darkmode">
           
            <figure class="nav__icon">
                <img class="nav__img" src="../luna.png" alt="icon__darkmode">
            </figure>
           
            <h5  class="nav__darktext">Dark Mode</h5>
        
        </a>

        </nav>
    </header>

    <main  class="main">
    
